*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
     background-color: #696969;
}

p{
    color: #fff;
}


/*====================================================================================*/
/*              GERAL                                                                 */
.conteiner{
    width: 75%;
    margin: auto;
}

.banner{
    height: 100%;
    width: 100%;
    background-color: #000000;
    margin-bottom: 20px; 
}
.img-responsive{    
    max-width: 100%;
    height: auto;   
}

footer{
    height: 300px;
    width: 100%;
    background-color: #000000;/*#969696;*/
    margin-top: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.sessao-principal-quem-somos, .sessao-principal-servicos, .sessao-principal-contato{
    border-radius: 30px;
    padding: 20px;
    background-color: #363636;      
}

/*====================================================================================*/
/*                                    INDEX                                           */
.sessao-principal-index{
    border-radius: 30px;
    padding: 20px 20px 10px;
    background-color: #363636;        
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article{
    width: 24%;
    height: auto;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
}

/*====================================================================================*/
/*                          MEDIA QUERIE                                              */
@media only screen and (max-width: 1000px){
    .conteiner{
        width: 90%;
    }
    article{
        width: 49%;
    }
}

@media only screen and (max-width: 500px){
    .conteiner{
        width: 95%;
    }
    .sessão-principal{
        flex-direction: column;
    }
    article{
        width: 100%;
    }
}

/*====================================================================================*/
