*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
     background-color: #696969;
}

p, blockquote{
    color: #fff;
}

.titulo{
    font-size: 30px;
}

/*====================================================================================*/
/*              GERAL                                                                 */
.conteiner{
    width: 75%;
    margin: auto;
}

.banner{
    height: 100;
    width: 100%;
    /*background-color: #000000;*/
}
.img-responsivo{    
    max-width: 100%;
    height: auto;   
}

footer{
    height: 200px;
    width: 100%;
    padding-top: 50px;
    background-color: #363636;/*#000000;*/
    display: flex;
    justify-content: space-around;
}

.sessao-principal{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px;
    background-color: #363636;      
}

/*====================================================================================*/
/*                                    INDEX                                           */
.sessao-principal-index{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px 20px 10px;
    background-color: #363636;        
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article{
    width: 24%;
    height: auto;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
}

/*====================================================================================*/
/*                              QUEM-SOMOS                                            */
.video-pc{
    position: relative;
    padding-bottom: 50.25%;
}

.video-pc video{
    position: absolute;
    height: 100%;
    width: 100%;
}

/*====================================================================================*/
/*                          MEDIA QUERIE                                              */
@media only screen and (max-width: 1000px){
    .conteiner{
        width: 90%;
    }
    article{
        width: 49%;
    }
}

@media only screen and (max-width: 500px){
    .conteiner{
        width: 95%;
    }
    .sessão-principal{
        flex-direction: column;
    }
    article{
        width: 100%;
    }
}

/*====================================================================================*/
