/*======================================================================*/
.pessoas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pessoa{
    width: 24%;
    margin-bottom: 30px;
    text-align: center;
}

.circulo{
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;                                                       
}

/*====================================================================================*/
/*                          MEDIA QUERIE                                              */
@media only screen and (max-width: 1000px){
    .pessoa{
        width: 45%;
    }
}

@media only screen and (max-width: 500px){
    .pesssoas{
        flex-direction: column;
    }
    .pessoa{
        width: 80%;
    }
}